/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p125@railstut/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p125@railstut/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125@railstut/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 50px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p125@railstut/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 50px;
}

/* line 10, ../../app/stylesheets/_application.scss */
#footer {
  font-size: .8em;
  padding-top: 10px;
  text-align: center;
}
/* line 15, ../../app/stylesheets/_application.scss */
#footer a {
  margin-left: 5px;
}

/* line 9, ../../app/stylesheets/_data.scss */
.back-to-buffer-link {
  margin-bottom: 10px;
}

/* line 13, ../../app/stylesheets/_data.scss */
.box {
  background-color: #fff;
  border: solid 1px #cccccc;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 20, ../../app/stylesheets/_data.scss */
.box + .box {
  margin-top: 20px;
}

/* line 25, ../../app/stylesheets/_data.scss */
.data-title {
  margin-bottom: 20px;
  margin-top: 10px;
}
/* line 29, ../../app/stylesheets/_data.scss */
.data-title h1 {
  display: inline;
  margin-right: 20px;
}

/* line 35, ../../app/stylesheets/_data.scss */
.assigned-container, .status-container {
  overflow: hidden;
  *zoom: 1;
}

/* line 39, ../../app/stylesheets/_data.scss */
.assigned-container {
  margin-bottom: 10px;
  margin-top: 5px;
}
/* line 43, ../../app/stylesheets/_data.scss */
.assigned-container span {
  margin-left: 5px;
}

/* line 9, ../../app/stylesheets/_index.scss */
.logo {
  color: #008833;
  font-size: 2.5em;
  font-style: italic;
  margin-right: 20px;
}

/* line 16, ../../app/stylesheets/_index.scss */
.new-btn {
  vertical-align: bottom;
}

/* line 20, ../../app/stylesheets/_index.scss */
#filters {
  background-color: #cccccc;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 27, ../../app/stylesheets/_index.scss */
.header {
  padding-bottom: 20px;
}

/* line 31, ../../app/stylesheets/_index.scss */
.slogan {
  font-size: 1.3em;
}

/* line 35, ../../app/stylesheets/_index.scss */
#buffer {
  background-color: #fff;
  border: solid 1px #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 43, ../../app/stylesheets/_index.scss */
.buffer-item {
  padding: 10px;
}
/* line 46, ../../app/stylesheets/_index.scss */
.buffer-item + .buffer-item {
  border-top: solid 1px #eeeeee;
}

/* line 12, ../../app/stylesheets/backbuffer.scss */
body {
  background-color: #f7f7f7;
  padding-top: 40px;
}

/* line 17, ../../app/stylesheets/backbuffer.scss */
.description {
  color: #666666;
}

/* line 21, ../../app/stylesheets/backbuffer.scss */
.main-label {
  color: #fff;
  float: right;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, ../../app/stylesheets/backbuffer.scss */
.main-label + .main-label {
  margin-right: 10px;
}

/* line 33, ../../app/stylesheets/backbuffer.scss */
.open-status {
  background-color: #008833;
}

/* line 37, ../../app/stylesheets/backbuffer.scss */
.closed-status {
  background-color: #ff5555;
}

/* line 41, ../../app/stylesheets/backbuffer.scss */
.assigned-me {
  background-color: #3333ff;
}

/* line 45, ../../app/stylesheets/backbuffer.scss */
.title {
  font-size: 1.5em;
}
