//- Templates/Data.jade
//- Displays a single data, with editing capabilities on each of the fields.

.col-sm-9
    .back-to-buffer-link {{#link-to 'index'}}Back to buffer (hehe){{/link-to}}
    .box
        button.btn.pull-right Edit
        .data-title.row
            .col-sm-11
                h1 {{title}}
        .data-description {{markdown description}}
    .box
        .comments
            p There will be comments here!
.col-sm-3
    .box
        .status-container
            | {{#if data.closed}}
            .main-label.closed-status Closed
            | {{else}}
            .main-label.open-status Open
            | {{/if}}
        .assigned-container
            .assigned
                label Assigned to:
                div
                    | {{assigned_to}}
                    span.glyphicon.glyphicon-edit
        button.form-control.
            {{#if data.closed}}
                Reopen
            {{else}}
                Close
            {{/if}}
    .box
        .sharing
            p There will be sharing here!
