//- Templates/DataNew.jade
//- Displays a single data, with editing capabilities on each of the fields.

.col-sm-9
    .back-to-buffer-link
        | {{#link-to 'data.index'}}Changed my mind... no new nothing{{/link-to}}

    .box.
        {{input class="form-control" type="text" value=title}}
        {{textarea value=description class="form-control"}}
    //- button.btn.pull-right Save it!
    | <button class="btn pull-right" {{action 'createData'}}>Save it!</button>
.col-sm-3
    .box
        .status-container
            | {{#if closed}}
            .main-label.closed-status Closed
            | {{else}}
            .main-label.open-status Open
            | {{/if}}
        .assigned-container
            .assigned
                label Assigned to:
                div
                    | {{#if assignedToEdit}}
                    |     {{input value=assigned_to type="text"}}
                    |     <span class="glyphicon glyphicon-ok"
                    |           {{action "editAssignedTo" false}}></span>
                    |     <span class="glyphicon glyphicon-remove"
                    |           {{action "editAssignedTo" true}}></span>
                    | {{else}}
                    |     {{assigned_to}}
                    |     <span class="glyphicon glyphicon-edit"
                    |           {{action "editAssignedTo" false}}></span>
                    | {{/if}}
        | <button class="form-control" {{action "changeStatus"}}>
        |    {{#if closed}}
        |        Reopen
        |    {{else}}
        |        Close
        |    {{/if}}
        |</button>
    .box
        .sharing
            p There will be sharing here!
