//- Templates/Index.jade
//- Displays a list of data (the 'buffer').

.col-sm-9
    .header
        span.logo Backbuffer
        span.slogan All things. One place.
        //- button.btn.btn-default.new-btn.pull-right  + New item
        | <button class="btn btn-default new-btn pull-right"
        |         {{action "createData"}}>+ New item</button>
    #buffer
        | {{#each data in model}}
        .buffer-item
            .row
                .col-sm-6
                    .title: a(href="#").
                        {{#link-to 'data' data}}
                            {{data.title}}
                        {{/link-to}}
                    .description {{markdown data.description}}
                .col-sm-6
                    | {{#if data.closed}}
                    .main-label.closed-status Closed
                    | {{else}}
                    .main-label.open-status Open
                    | {{/if}}
                    .main-label.assigned-me {{data.assigned_to}}
        | {{/each}}
.col-sm-3
    #filters
        .title Filters
        .checkbox
            label
                input(type="checkbox")
                | Show only items assigned to me
        .checkbox
            label
                input(type="checkbox")
                | Show only open items
