// Styling for templates/index.jade


// Compass imports.
@import 'compass/css3/border-radius';

// Local imports.
@import 'variables';


// Styling.
.logo {
    font-style: italic;
    color: $palette_green;
    font-size: 2.5em;
    margin-right: 20px;
}

.new-btn {
    vertical-align: bottom;
}

#filters {
    background-color: $palette_light_grey;
    padding: 10px;

    @include border-radius;
}

.header {
    padding-bottom: 20px;
}

.slogan {
    font-size: 1.3em;
}

#buffer {
    background-color: #fff;
    border: solid 1px $palette_light_grey;

    @include border-radius;
}


.buffer-item {
    padding: 10px;

    & + .buffer-item {
        border-top: solid 1px $really_light_grey;
    }
}
