// Variables used throughout SCSSs in backbuffer.

$palette_dark_grey: #666;
$palette_light_grey: #ccc;
$palette_green: #083;

$neutral_blue: #33f;
$whitesmoke: #f7f7f7;
$really_light_grey: #eee;
$closed_red: #f55;

$footer_height: 50px;
