// Backbuffer main SCSS file.

@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/inline-block';
@import 'compass/layout/sticky-footer';

$palette_dark_grey: #666;
$palette_light_grey: #ccc;
$palette_green: #083;

$neutral_blue: #33f;
$whitesmoke: #f7f7f7;
$really_light_grey: #eee;
$closed_red: #f55;

@include sticky-footer(50px);

body {
    background-color: $whitesmoke;
    padding-top: 40px;
}

.logo {
    font-style: italic;
    color: $palette_green;
    font-size: 2.5em;
    margin-right: 20px;
}

.new-btn {
    vertical-align: bottom;
}

#filters {
    background-color: $palette_light_grey;
    padding: 10px;

    @include border-radius;
}

.description {
    color: $palette_dark_grey;
}

.header {
    padding-bottom: 20px;
}

.slogan {
    font-size: 1.3em;
}

.main-label {
    color: #fff;
    padding: 5px 10px;
    float: right;

    @include border-radius;

    & + .main-label {
        margin-right: 10px;
    }
}

.open-status {
    background-color: $palette_green;
}

.closed-status {
    background-color: $closed_red;
}

.assigned-me {
    background-color: $neutral_blue;
}

#buffer {
    background-color: #fff;
    border: solid 1px $palette_light_grey;

    @include border-radius;
}

.buffer-item {
    padding: 10px;

    & + .buffer-item {
        border-top: solid 1px $really_light_grey;
    }
}

.title {
    font-size: 1.5em;
}

#footer {
    font-size: .8em;
    padding-top: 10px;
    text-align: center;

    a {
        margin-left: 5px;
    }
}
