//- Index.jade
//- The only complete HTML file in Backbuffer - all of the other are templates
//- rendered by Ember.

html
    head
        title Backbuffer Prototype
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css",
             rel="stylesheet")

        //- link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/backbuffer.css", rel="stylesheet")
    body
        //- Handlebars templates.
        script(type="text/x-handlebars", data-template-name="application")
            include templates/application

        script(type="text/x-handlebars", data-template-name="data/word")
            include templates/data_word

        script(type="text/x-handlebars", data-template-name="data/index")
            include templates/data_index

        script(type="text/x-handlebars", data-template-name="data/new")
            include templates/data_new
        
        //- Scripts section.
        script(src="/bower_components/jquery/jquery.min.js")
        script(src="/js/handlebars-v1.3.0.js")
        script(src="/bower_components/ember/ember.js")
        script(src="/bower_components/ember-data/ember-data.js")
        script(src="/node_modules/pagedown/Markdown.Converter.js")
        script(src="/js/backbuffer.js")
