html
    head
        title Backbuffer Prototype
        //- link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css",
        //-      rel="stylesheet")

        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/index.css", rel="stylesheet")
    body
        //- Handlebars templates.
        script(type="text/x-handlebars", data-template-name="application")
            .container-fluid
                .row#root
                    | {{outlet}}
                    #root-footer
                .row#footer
                    .col-xs-12
                        span An app by
                        a(href="//developerscut.co.uk")
                            img(src="/images/d-c_logo.png")

        script(type="text/x-handlebars", data-template-name="data")
            .col-sm-9
                .box
                    .title.row
                        .col-sm-11
                            h1 Finish task view for backbuffer
                        .col-sm-1
                            button.form-control Edit
                    .description
                        p.
                            * Interface with hard data
                            * Editable fields via Javascript
                .box
                    .comments There will be comments here!
            .col-sm-3
                .box
                    .main-label.open-status Open
                    .assigned To me
                    button.form-control Close
                .box
                    .sharing There will be sharing here!

        script(type="text/x-handlebars", data-template-name="not-data")
            .col-sm-9
                .header
                    span.logo Backbuffer
                    span.slogan All things. One place.
                    button.btn.btn-default.new-btn.pull-right + New item
                #buffer
                    | {{#each}}
                    .buffer-item
                        .row
                            .col-sm-6
                                .title: a(href="#") {{title}}
                                .description {{markdown description}}
                            .col-sm-6
                                | {{#if closed}}
                                .main-label.closed-status Closed
                                | {{else}}
                                .main-label.open-status Open
                                | {{/if}}
                                .main-label.assigned-me {{assigned_to}}
                    | {{/each}}
            .col-sm-3
                #filters
                    .title Filters
                    .checkbox
                        label
                            input(type="checkbox")
                            | Show only items assigned to me
                    .checkbox
                        label
                            input(type="checkbox")
                            | Show only open items



        //- Scripts section.
        script(src="/bower_components/jquery/jquery.min.js")
        script(src="/js/handlebars-v1.3.0.js")
        script(src="/bower_components/ember/ember.js")
        script(src="/bower_components/ember-data/ember-data.js")
        script(src="/node_modules/pagedown/Markdown.Converter.js")
        script(src="/js/backbuffer.js")
